@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
        span {
            display: inline-block;
        }
        /*Fade all the DIV when user hovers on any div*/                
        html:hover .highlight {
            zoom: 1;
            filter: alpha(opacity=85);
            opacity: 0.85;
            -webkit-transition: opacity .3s ease-in-out;
            -moz-transition: opacity .3s ease-in-out;
            -ms-transition: opacity .3s ease-in-out;
            -o-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
        }

        /*Fade out the particular DIV when user hover on that DIV*/
        html .highlight:hover {
            box-shadow: 3px 3px 15px #666;
            color: #000;            
            outline: 1px dotted #C76C0C;
            
            /*Opacity*/
            zoom: 1;
            filter: alpha(opacity=100);
            opacity: 1;
        }
    </style>
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="@Url.Content("~/Scripts/libs/require.js")"></script>
    <script type="text/javascript">
    require.config({
        baseUrl: '@Url.Content("~/Scripts")',
        paths: {
            'jquery': 'libs/jquery-1.11.3',
            'backbone': 'libs/backbone',
            'underscore': 'libs/underscore',
            'hogan': 'libs/hogan-3.0.2.amd',
            'text': 'libs/text',
            'hgn': 'libs/hgn',
            '@ViewBag.ModuleName': 'app/@ViewBag.ModuleName'
        },
        shim: {
            'jquery.metisMenu': {
                deps: ['jquery'],
                exports: 'jQuery.fn.metisMenu'
            },
            'jquery.steps': {
                deps: ['jquery'],
                exports: 'jQuery.fn.steps'
            }
        }
    });
    define('bootstrap', function () {
        var a = @Html.Raw(Json.Encode(ViewData["bootstrap"]));
        return a.Data;
    });
    require(['@ViewBag.ModuleName'], function (module) {
        module.init();
    });
    </script>
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
     <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
